*
{
        box-sizing: border-box;
}
body
{
	padding:0;
	margin:0;
	font-family: sans-serif;
}
header
{
        margin:0;
	height:20px;
        margin-top:10px;
}

header a 
{
        float:right;
        font-size:14px;
        text-decoration-color: black;
        text-decoration: none;
        margin-right:20px;
        color:black;
}
header a:hover
{
        text-decoration: underline;
}
header i,header span
{
       float:right;
       margin-right:20px;
 
}
header span{
       background-color:#91188b;
       padding:5px 8px;
       border-radius: 50%;
       margin-top: -2px;
       color:white;
}
header span:hover
{
      outline:3px solid rgb(233, 223, 223);
      border-radius:50%;
}
.main
{
	text-align:center;
	margin-top:8%;
  
}

.search-bar
{
	position:relative;
        text-align:center;
}
.inputbox
{
        
        width:40%;
        padding:15px;
        border-radius:24px;
        border:1px solid #dfe3dc;
        box-shadow: 2px 2px 2px #d2d9d4;
        display:relative;
}
input[type=text]::placeholder
{
	padding-left:50px;
	font-size:15px;
		
}
input[type=text]:focus
{
        padding-left:50px;
        outline:1px solid #dfe3dc;
        box-shadow: 2px 2px 2px #d2d9d4;
}
.fa-magnifying-glass
{
        

}
.fa-magnifying-glass
{
        margin-left:3%;
        margin-top:20px;
        font-size:17px;
        color:#989c99;
}

.btn
{
       margin-left:37%;
}
.btn1
{
      border:1px solid #bdc7c5;
      height:30px;
      width :20%;
 
}
.link 
{
     margin-left:27%;
}
.link ul
{
     list-style-type: none;
}
.link ul li 
{
     display:inline;
     margin-left:5%;
}


	